<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1">
	<test name="test1">
		<parameter name="custId" value="-3" />
		<classes>
			<class name="com.cloudsmartz.test.TestCustomerAPI" />
		</classes>
	</test>
	<test name="test2">
		<parameter name="custId" value="-2" />
		<classes>
			<class name="com.cloudsmartz.test.TestCustomerAPI" />
		</classes>
	</test>
</suite>
