<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-autowire="byType">

    <bean id="logger" class="com.gagan.spring.MyLogger">
    </bean>
    <bean id="myConsoleWriter" class="com.gagan.spring.MyConsoleWriter" primary="true">
    </bean>
    
    <bean id="panda" class="com.gagan.spring.MyConsoleWriter">
    </bean>
    <bean id="myFileWriter" class="com.gagan.spring.MyFileWriter">
    </bean>
    <bean id="gag" class="com.gagan.spring.MyFileWriter" autowire-candidate="false">
    </bean>

</beans>